registry=https://mcb-digitalfactory.pkgs.visualstudio.com/ee1da222-52e3-4757-a184-d87171a5d56b/_packaging/mcb-web-components/npm/registry/
always-auth=true

; begin auth token
//mcb-digitalfactory.pkgs.visualstudio.com/ee1da222-52e3-4757-a184-d87171a5d56b/_packaging/mcb-web-components/npm/registry/:username=mcb-digitalfactory
//mcb-digitalfactory.pkgs.visualstudio.com/ee1da222-52e3-4757-a184-d87171a5d56b/_packaging/mcb-web-components/npm/registry/:_password=['c3Z2cG9yemc1YnMzeTZ4M3JwbnZ3NG1leGp5aGt4YmJoZWVrZXFjbHA3YnlxZmJya3dqcQ==']
//mcb-digitalfactory.pkgs.visualstudio.com/ee1da222-52e3-4757-a184-d87171a5d56b/_packaging/mcb-web-components/npm/registry/:email=digfacsquindl@mcb.mu
//mcb-digitalfactory.pkgs.visualstudio.com/ee1da222-52e3-4757-a184-d87171a5d56b/_packaging/mcb-web-components/npm/:username=mcb-digitalfactory
//mcb-digitalfactory.pkgs.visualstudio.com/ee1da222-52e3-4757-a184-d87171a5d56b/_packaging/mcb-web-components/npm/:_password=['c3Z2cG9yemc1YnMzeTZ4M3JwbnZ3NG1leGp5aGt4YmJoZWVrZXFjbHA3YnlxZmJya3dqcQ==']
//mcb-digitalfactory.pkgs.visualstudio.com/ee1da222-52e3-4757-a184-d87171a5d56b/_packaging/mcb-web-components/npm/:email= digfacsquindl@mcb.mu
; end auth token