.main-container {
  //   position: relative;
  /* height: 100vh; */
  padding-left: 288px;
  background: #fbfbfb;

  .body-section {
    min-height: 100vh;
  }
  .content {
    padding: 64px 0;
  }

  .footer-section {
    // position: fixed;
    bottom: 0;
    left: 288px;
    right: 0;
  }
}
